@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
*{
    margin : 0;
    padding :0;
}
:root
{
    --primary-font : 'Montserrat', sans-serif;
    --secondry-font : 'Aclonica', sans-serif;
    --active-color : #519872;
    --primary-color : #D16014;
    --bg-color : #292627;
}
::-webkit-scrollbar
{
    width :3px;
}
::-webkit-scrollbar-thumb
{
    background-color :var(--primary-color);
    border-radius : 50px;
}
::-webkit-scrollbar-track
{
    visibility : hidden;
}
::-webkit-scrollbar-corner
{
    visibility : visible;
}
.header
{
    width : 85%;
    margin : auto;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    height : 22vh;
    align-items : center;
}
.header-hidden
{
    visibility :hidden;
    position : absolute;
}
.nav
{
    display : flex;
    flex-direction : row;
    justify-content : flex-end;
    align-items : center;
    width : 50%;
}
.nav-inner
{
    width : 100%;
    height : 80%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.nav-inner div a
{
    text-decoration : none;
}
.nav-inner div
{
    width : 85%;
    height : 100%;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    color : white;
    font-family : var(--primary-font);
    list-style-type : none;
    text-transform : capitalize;
    align-items : flex-end;
    cursor : pointer;
}
.cart
{
    position : relative;
    height : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    width : 8%;
}
.cart-inner-bg
{
    background-color : var(--active-color);
    width : 3rem;
    height : 3rem;
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 1rem;
    cursor : pointer;
}
.cart-inner-bg img
{
    width : 1.8rem;
}
.cart-badge
{
    background-color : var(--primary-color);
    width : 1.8rem;
    height : 1.8rem;
    position : absolute;
    top : 16;
    right : 5%;
    bottom : 57%;
    border-radius : 50%;
    text-align: center;
    border : 0.22rem solid #292627;
    font-family : var(--primary-font);
    font-weight :400;
    color : white;
}
.login
{
    height : 100%;
    width : 10%;
    display : flex;
    align-items : center;
    justify-content : center;
}
.login-bg
{
    background-color : var(--active-color);
    width : 100%;
    height : 32%;
    display : flex;
    align-items : center;
    justify-content : center;
    text-transform : capitalize;
    color : white;
    font-weight : 500;
    border-radius : 0.5rem;
    cursor : pointer;
}
.login-bg a
{
    color : white;
    text-decoration : none;
}
.login-bg:hover
{
    background-color : transparent;
    border : 1px solid var(--active-color);
    transition : 0.6s ease-out;
}
.home
{
    height : 80vh;
}
.head-slogan
{
    color : var(--primary-color);
    font-family : var(--secondry-font);
    text-transform : capitalize;
}
.head-slogan1
{
    height : 18%;
}
.head-slogan2
{
    height : 3%;
    color : #ACB97C;
    font-weight : 400;
    text-transform : capitalize;
    font-family : 'El Messiri', sans-serif;
}
.order-outer
{
    height : 11%;
}
.order-now
{
    width : 65%;
    height : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    font-family : var(--primary-font);
    font-weight :500;
    font-size : 0.9rem;
    border-radius : 1rem;
    color : white;
    cursor : pointer;
    background-color : var(--active-color);
}
.order-now:hover
{
    background-color : transparent;
    border : 1px solid var(--active-color);
    transition : 0.6s ease;
}
.extras
{
    color : white;
    font-size : 0.8rem;
}
.left-extra
{
    display : flex;
    flex-direction : row;
    align-items : center;
    font-family : var(--primary-font);
    justify-content : space-between;
}
.text-extra 
{
    display : flex;
    align-items : center;
}
.users
{
    height : 18%;
}
.users-inner
{
    background-color : #373535;
    width : 60%;
    height : 100%;
    display : flex;
    align-items : center;
    flex-direction : row;
    justify-content : space-evenly;
    border-radius : 1rem;
}
.user-profile
{
    display : flex;
    flex-direction : row;
    width : 60%;   
}
.user-reviews
{
    width : 23%;
    color : white;
    font-family : var(--primary-font);
    font-weight : 400;
    font-size : 0.8rem;

}
.user-reviews span
{
    font-weight : 700;    
    font-size : 1rem;
    color : var(--primary-color);
}
.user-circle
{
    height : 50px;
    width : 50px;
    border-radius : 50%;
    position : relative;
    display: flex;
    align-items : center;
    justify-content : center;
}
.user-circle img
{
    width : 3.2rem;
    height : 3.2rem;
    position : absolute;
    object-fit : cover;
    object-position : center;
    border-radius : 50%;
    border : 4px solid #373535;
}

/* ************* Top Rated ********* */
.top-rated-outer
{
    width : 100%;
    display : flex;
    height : 80vh;
    text-transform : capitalize;
    display : flex;
    flex-direction : column;
    justify-content : space-evenly;
    align-items : center;
}
.top-rated-inner
{
    width : 87%;
    height : 20%;
}
.heading > div:first-child
{
    font-size : 3rem;
    font-family : var(--secondry-font);
    color : white;
}
.heading > div:last-child
{
    font-size : 0.75rem;
    font-family : var(--primary-font);
    color : white;
}
.heading-arrow
{
    display : flex;
    justify-content : space-between;
}
.controls-outer
{
    width : 30%;
    display : flex;
    justify-content : space-evenly;
    align-items : center;
}
.controls-outer > div:first-child, .controls-outer > div:last-child
{
    background-color : #403E3F;
    height : 3.5rem;
    width : 3.5rem;
    border-radius : 50%;  
    display : flex;
    align-items : center;
    justify-content : center;  
    cursor : pointer;
    box-shadow : 15px 10px 25px 0.2rem rgba(0,0,0,0.15);
}
.controls-outer i
{
    font-size : 1.5rem;
    font-weight : 200;
    color : white;
}
.controls-outer div:hover
{
    background-color :rgba(255,255,255, 0.9);
    height : 4rem;
    width : 4rem;
    transition : 300ms ease;    
}
.left-control:hover.left-control i
{
    color : black;
}
.right-control:hover.right-control i
{
    color : black;
}
.top-rated-items
{
    height: 75%;
    width : 87%;
    position: relative;
}
.top-rated-inner
{
    margin : 0 0 0 5.5rem;
}
.slider
{
    width : 100%;
    height : 100%;
    background-color : white;
    position : relative;
}

.slick-slider, .slick-list, .slick-track
{
    height : 100%;
}


.items-inner2 > div:first-child
{
   width : 100%;
   height : 100%;
   display : flex;
   align-items : center;
   justify-content : center;
   position : relative;
}
.item-card
{
    background-color : #4B4748;
    height : 80%;
    width : 70%;
    border-radius : 15rem 9rem 11rem 5rem;
    display : flex;
    align-items : center;
    justify-content : center;
}
.upper-details
{
    height : 50%;
    width : 60%;
    margin : 1.6rem 1.8rem 0 0;
}
.upper-details > div:first-child
{
    color : white;
    font-family : var(--primary-font);
}
.upper-details > div:nth-child(3)
{
    color : #D7E79B;
}
.ratings > div
{
    margin : 0 1rem 0 0;
}
.ratings
{
    height : 10%;
}
.item-card > div:first-child
{
    height : 65%;
    width : 85%;
    /* background-color : red; */
}
.item-card-circle
{
    height : 35%;
    width : 35%;
    right : 10%;
    top : 3%;
    border-radius : 50%;
    background-color : #D7E79B;
    position : absolute;
    border : 0.5rem solid var(--bg-color);
    display : flex;
    align-items : center;
    justify-content : center;
}
.item-buy-button
{
    height: 5rem;
    width : 5rem;
    bottom : 0;
    border-radius : 50%;
    background-color : #D7E79B;
    position : absolute;
    border : 0.5rem solid var(--bg-color);
}
.items-slide-new
{
    height : 100%;
    position : absolute;
    box-sizing : border-box;
    display : flex;
    align-items : center;
    justify-content : center;
}
.items-inner
{
    height : 100%;
    width : 388px;
    display : flex;
    align-items :center;
    justify-content : center;
}
.ratings > div:first-child
{
    color : white;
}
.items-inner2
{
    height : 100%;
    width : 100%;
}

.offer-template
{
    width : 80%;
    height : 50%;
    /* background-color : white; */
}
.offer-template > div:first-child
{
    width : 1085px;
    height : 100%;
}
.offer-template > div img
{
    width : 100%;
    height : 100%;
    object-fit : cover;
    object-position : center;
}
.features-text > div:first-child
{
    font-family : var(--secondry-font);
    font-size : 2.5rem;
    color : white;
}
.features-text > div:last-child
{
    font-family : var(--primary-font);
    font-size : 1.5rem;
    color : white;
}
.features-text + div
{
    width : 85%;
    height : 65%;
} 
.features-text + div > div > div:nth-child(2)
{
    font-size : 1.5rem;
    color : white;
    font-family : var(--primary-font);
} 
.features-text + div > div > div:nth-child(3)
{
    font-family : var(--primary-font);
} 
.testimonial
{
    display : flex;
    flex-direction : row;
}
.heading 
{
    margin : 0 5rem 0 0;
}
.review-card-outer
{
    width : 600px;
    height : 100%;
}
.review-card-inner
{
    width : 80%;
    height : 80%;
    background-color : #4B4748;
    border-radius : 2rem;
}
.img-bg
{
    width : 120px;
    height : 120px;
    /* background-color : yellow; */
    top : 8%;
    border : 0.5rem solid var(--bg-color);
}
.img-bg img
{
    width : 100%;
    height : 100%;
    object-fit : cover;
    object-position : center;
}
.testimonial-slider > div > div:first-child
{
    font-family : var(--primary-font);
}
.testimonial-slider > div > div :first-child > div:last-child
{
    color : white;
    font-weight : bold;
}
/* .testimonial-slider > div > div:last-child::before
{
    content : "";
    background-color : red;
    width : 20px;
    height : 20px;
    position : absolute;
}
.testimonial-slider > div > div:last-child::after
{
    content : "";
    background-color : orange;
    width : 30px;
    height : 30px;
    position : absolute;
    right : -36%;
    top : 55%;
    border-radius : 50%;
    box-shadow : 0px -17px 0 0px brown;
} */

.footer-section > div:first-child
{
    background-color : #4B4748;
}
.footer-section ul
{
    list-style : none;
    font-family : var(--primary-font);
    color : white;

}
.footer-section ul > li:first-child
{
    font-weight : bold;
}

/* --------------------- CSS FOR LOG IN PAGE --------------- */
 .login-container
 {
     height : 100vh;
     width : 100%;
     background-color : var(--bg-color);
     display : flex;
 }
 .login-container > div:first-child
 {
     width : 50%;
     height : 100%;
     /* background-color : red; */
 }
 .login-container > div:last-child
 {
    width : 50%;
    height: 100%;
    /* background-color : blue; */
 }
 .login-container > div:last-child > div
 {
     /* background-color : white; */
     height : 90%;
     width : 80%;
 }
 .login-container > div:last-child > div > div:first-child
 {
     height : 18%;
     width : 100%;
     /* background-color : pink; */
 }
 .cross
 {
     height : 40%;
     /* background-color : yellow; */
     width : 100%;
 }
 .cross > div
 {
    background-color : #302F2F;
    height :100%;
    width : 3rem;
    font-size : 2rem;
    border-radius : 0.5rem;
    color : white;
    cursor : pointer;
 }
 .cross > div:hover
 {
     background-color : var(--active-color);
     transition : 0.5s ease;
 }
 .login-head
 {
     font-family : var(--primary-font);
     font-weight :600;
     color : var(--primary-color);
 }
 .login-inner-container
 {
     height : 78%;
     width : 100%;
     overflow : auto;
 }
 form
 {
     width : 100%;
     height : 100%
 }
 form > div
 {
     height : 100%;
     width : 80%;
     /* background-color : yellow; */
 }
 form > div > div:last-child
 {
     height : 40%;
     width : 100%;
     /* background-color : aqua; */
 }
 form > div > div
 {
     height : 50%;
     width : 100%;
     /* background-color : aqua; */
 }
 .input-email, .input-pass
 {
     width : 100%;
     height : 50%;
     /* background-color : rebeccapurple; */
 }
 .input-email label, .input-pass
 {
     font-size : 1rem;
     text-transform : capitalize;
     color : white;
 }
 .input-pass > div:last-child, .input-email > div:last-child
 {
     height : 40%;
 }
 .input-pass input, .input-email input
 {
     width : 100%;
     height : 100%;
     border-radius : 1.5rem;
     border-width : 1px;
     font-size : 1rem;
     padding : 0 0 0 8px;
     background-color : transparent;
     border-color :  rgba(255,255,255,0.2);
     color : white;
 }
 .input-email input:focus , .input-pass input:focus
{
    border-color :  rgba(255,255,255,0.2);
    border-width : 1px;  
}
form
{
    font-family : var(--primary-font);
}
form > div > div > div:nth-child(3) > div:first-child
{
    width : 36%;
}
form > div > div > div:nth-child(3) > div:first-child > div:last-child:hover
{
    color : #0d6efd;
    cursor : pointer;
    transition : 0.5s ease;
}
form > div > div > div:nth-child(3) > div:last-child:hover
{
    color : #dc3545;
    transition : 0.5s ease;
    cursor : pointer;
}
.login-button
{
    height : 3.3rem;
    width : 100%;
    background-color : var(--active-color);
    border-radius : 0.5rem;
    cursor : pointer;
    font-size : 1.2rem;
}
.login-button + div 
{
    width : 100%;
    height : 3.3rem;
    background-color : white;
    border-radius : 0.5rem;
    cursor : pointer;
    margin : 12px 0;
}
.login-button + div:hover
{
    background-color : transparent;
    border : 1px solid white;
    transition : 0.5s ease;
    color : white;
}
.login-button + div > div
{
    width : 45%;
}
.login-button + div + div
{
    cursor : pointer;
    color : white;
}
.login-button + div + div:hover
{
    color : #ffc107;
    transition : 0.5s ease;
}
.login-container > div:first-child > div
{
    width : 100%;
    height : 100%;
}
.login-container > div:first-child > div > div
{
    width : 100%;
    height : 100%;
}

/* -------------- CSS FOR SIGN UP PAGE ----------- */
.signup-inner-container
 {
     height : 230%;
     width : 80%;
 }
 .signup-inner-container > div:first-child
 {
     height : 200%;
     width : 100%;
 }

 /* -------------- FORGET PASSWORD CSS ---------- */
 .forget-inner-container
 {
     height : 100%;
     width : 80%;
 }
 .forget-inner-container > div:first-child
 {
     height : 45%;
 }
 .forget-inner-container > div:last-child
 {
     height : 45%;
 }
 .reset-button
 {
    height : 3.3rem;
    width : 100%;
    background-color :#dc3545;
    border-radius : 0.5rem;
    cursor : pointer;
    font-size : 1.2rem;
 }

/* ------------------- UPDATE PASSWORD ------------------ */
.updatepass-inner-container
{
    height : 100%;
    width : 80%
}
.updatepass-inner-container > div:first-child
{
    height : 47%;
}
.updatepass-inner-container > div:last-child
{
    height : 20%;
}

/* --------------------- CONFIRMATION EMAIL PASS ---------------- */
.confirmation-inner-container
{
    height : 70%;
    width : 80%;
}
.confirmation-inner-container > div:first-child
{
    height : 70%;
}
.confirmation-inner-container > div:last-child
{
    height : 15%;
}